@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 80px;
    background-color: #4a1ee9;
    color: white;
}

.title {
    font-size: 72px;
    font-family: 'Corinthia', cursive;
    margin: 0;
    cursor: pointer;
}

.icons {
    font-size: 30px;
}

.icon {
    margin-left: 10px;
}
