.movie-detail {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .movie-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .movie-poster {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .movie-overview {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
  }
  
  .movie-release,
  .movie-rating {
   font-size: 0.9em;
    color: #777;
    margin-bottom: 5px;
  }